<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="assets/images/logo_trans.ico" />
  {% include files.html %}
</head>

<body>
  <header>
    <div class="header">
      {% include upperbox.html %}
    </div>
    {% include navigation.html %}
  </header>

  <div class="row content">
    <div class="col-md-3">
      {% include mycard.html %}
      <nav id="local-nav">
        <!--Local Navigation -->
      </nav>
    </div>
    <div class="col-md">
      {{ content }}
    </div>
    <div class="col-md-2">
      <aside class="">
        Aside content
      </aside>
    </div>

  </div>
  </div>
  <footer>
    <!-- topic navigation -->
    {% include bottom_navigation.html %}
    <script>
      var yourNavigation = $(".nav");
      stickyDiv = "sticky";
      yourHeader = $('.header').height();

      $(window).scroll(function() {
        if ($(this).scrollTop() > yourHeader) {
          yourNavigation.addClass(stickyDiv);
        } else {
          yourNavigation.removeClass(stickyDiv);
        }
      });
    </script>
  </footer>
</body>
</html>
